.image {
    border-radius: 25px;
}

.FnalBox {
    background-color: var(--box-background);
    width: 350px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(-105%, -50%);
    margin-top: 220px;
    text-align: center;
    border-radius: 25px;
}

.FnalBox p {
    color: var(--box-text);
    font-size: 30px;
    font-family: WorkSans-Medium;
}

.FnalBox a {
    color: var(--box-text);
    font-size: 17px;
    font-family: WorkSans-Light;
}

.FnalBox button a {
    color: var(--button2-text);
    font-size: 17px;
    font-family: WorkSans-Light;
}

.FnalBox button {
    border: 0;
    width: 130px;
    height: 50px;
    background: var(--button2-background);
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 4px 4px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.FarkytaleBox {
    background-color: var(--box-background);
    width: 350px;
    height: 550px;
    position: absolute;
    left: 50%;
    transform: translate(5%, -50%);
    margin-top: 220px;
    text-align: center;
    border-radius: 25px;
}

.FarkytaleBox p {
    color: var(--box-text);
    font-size: 30px;
    font-family: WorkSans-Medium;
}

.FarkytaleBox a {
    color: var(--box-text);
    font-size: 17px;
    font-family: WorkSans-Light;
}

.FarkytaleBox button a {
    color: var(--button2-text);
    font-size: 17px;
    font-family: WorkSans-Light;
}

.FarkytaleBox button {
    border: 0;
    width: 150px;
    height: 50px;
    background: var(--button2-background);
    display: block;
    margin: 30px auto;
    text-align: center;
    padding: 4px 4px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 25px;
    transition: 0.25s;
    cursor:not-allowed;
}

@media only screen and (max-width: 1147px) {  
    .image {
        display: none;
    }

    .FnalBox {
        width: 300px;
        height: 300px;
        left: 100%;
        transform: translate(-105%, -50%);
        margin-top: 100px;
    }

    .FarkytaleBox {
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translate(-105%, -50%);
        margin-top: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .image {
        display: none;
    }

    .FnalBox {
        width: 300px;
        height: 280px;
        left: 105%;
        transform: translate(-105%, -50%);
        margin-top: 160px;
    }

    .FarkytaleBox {
        width: 300px;
        height: 280px;
        left: 105%;
        transform: translate(-105%, -50%);
        margin-top: 470px;
    }
}