:root {
    /* 3b3b3a, 26bb9b, rgb(72, 151, 255);*/

    --background1: #26bb9b;
    --background2: #1cb896;
    --text: #d6fdf5;
    --box-text: #0f5546;
    --menu-background: #d6fdf5;
    --button1-background: #d6fdf5;
    --button2-background: #0f5546;
    --button1-text: #0f5546;
    --button2-text: #d6fdf5;
    --active: #26bb9b;
    --active2: #1abe9b;
    --box-background: #d6fdf5;
}

#grey {
    --background1: #3b3b3a;
    --background2: #636363;
    --text: #ffffff;
    --active: #4897FF;
    --menu-background: #ffffff;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--box-text);
}

body {
    height: 100%;
    background: linear-gradient(
        180deg,
        var(--background1) 5%,
        var(--background2) 95%
      );
    font-family: WorkSans-Light;
}

::-webkit-scrollbar {
    display:none;
}

/*

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--button2-background);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a3e7da;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #76c9b9; 
}

*/