:root {
    /* 3b3b3a, 26bb9b, rgb(72, 151, 255);*/

    --background1: #26bb9b;
    --background2: #199278;
    --text: white;
    --box-text: black;
    --menu-background: white;
    --button1-background: white;
    --button2-background: black;
    --button1-text: black;
    --button2-text: white;
    --active: #26bb9b;
    --box-background: white;
}

body {
    background: radial-gradient(
        circle,
        var(--background1) 0%,
        var(--background2) 100%
      );
    font-family: WorkSans-Light;
}