body > #clipping-bg {
    margin-top: 180px;
    height: 100%;
    width: 99.6%;
    background-color: var(--text);
    clip-path: polygon(0 23%, 100% 10%, 100% 52%, 0 65%);
    position: absolute;
    z-index: -1;
}

.in-bg h1{
    margin-top: 110px;
    color: var(--active);
}

.btn-two button a {
    color: var(--text);
}

.btn-two button {
    border: 0;
    width: 130px;
    height: 50px;
    background: var(--active);;
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 4px 4px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}

.btn-two button:hover {
    width: 140px;
    border-radius: 5px;
}

h1 {
    color: var(--text);
    font-size: 100px;
    font-family: WorkSans-Regular;
}

p{
    color: var(--text);
    font-size: 20px;
    font-family: WorkSans-Light;
}

.menu {
    background-color: var(--menu-background);
    margin-top: 0px;
    height: 50px;
    width: 100%;
    font-family: WorkSans-Medium;
    border-radius: 10px;
}

.MenuNavigation {
    font-family: WorkSans-Light;
    margin: 0px 70px;
}

.box {
    width: 700px;
    position: absolute;
    height: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
    text-align: center;
}

.btn-one button {
    border: 0;
    width: 130px;
    height: 50px;
    background: var(--button1-background);
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 4px 4px;
    outline: none;
    font-family: WorkSans-Light;
    border-radius: 25px;
    transition: 0.25s;
    cursor: not-allowed;
}

.btn-one button a {
    color: var(--background1);
}

.btn-one button:hover {
    width: 140px;
    border-radius: 5px;
}

.active {
    color: var(--active);
}

.box a {
    font-family: WorkSans-Regular;
    color:var(--button-text);
    text-decoration: none;
    font-size: 15px;
}

.menu ul {
    color: var(--button1-text);
    display: inline-flex;
}

.menu ul a {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.25s;
}

.menu ul a:hover {
    font-size: 17px;
    color: var(--active2);
}

@media only screen and (max-width: 768px) {
    .neugass-menu {
        margin: -5px -45px;
    }
    
    .menu {
        margin-top: 0px;
        height: 30px;
        width: 100%;
    }

    .MenuNavigation {
        font-family: WorkSans-Light;
        margin: -5px 40px;
    }

    .menu ul {
        font-size: 13px;
    }

    .menu ul a:hover {
        font-size: 13px;
    }

    h1 {
        color: white;
        font-size: 40px;
        font-family: WorkSans-Regular;
    }
    
    p{
        color: white;
        font-size: 10px;
        font-family: WorkSans-Light;
    }

    .box {
        width: 300px;
        position: absolute;
        height: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 55px;
        text-align: center;
    }
}